
<html xmlns:th="https://www.thymeleaf.org/">
 <div th:replace="fragments/common-ui :: header"></div>
<body>
	<div th:replace="fragments/common-ui :: menu"></div>
	
	<div class="container">
		<div class="card">
			<div class="card-header text-white text-center bg-header-info">
				<h2>DOCTOR TABLE DATA</h2>
			</div>
			<div class="card-body">
			
				<a th:href="@{/doctor/register}" class="btn btn-outline-dark">Register
					Doctor</a>| 
					<a th:href="@{/doctor/excel}" class="btn btn-success">
					Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i>
					</a>
					
				<table class="table table-sm table-hover">
					<thead>
						<tr class="bg-secondary text-white">
							<th></th>
							<th>NAME</th>
							<th>EMAIL</th>
							<th>SPECIALISATION</th>
							<th>MOBILE</th>
							<th>NOTE</th>
							<th>ADDRESS</th>
							<th>OPERATION</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="doc:${list}">
							<td>
								<img th:src="${doc.photoLoc}" width="50" height="50">
							</td>
							<td> [[${doc.firstName + ' ' +doc.lastName}]]</td>
							<td th:text="${doc.email}"></td>
							<td th:text="${doc.specialisation.specName}"></td>
							<td th:text="${doc.mobile}"></td>
							<td th:text="${doc.note}"></td>
							<td th:text="${doc.address}"></td>
							<td><a th:href="@{/doctor/delete(id=${doc.id})}"
								class="btn btn-outline-danger"> Delete <i
									class="fa fa-trash-o" aria-hidden="true"></i>
							</a> | <a th:href="@{/doctor/edit(id=${doc.id})}"
								class="btn btn-outline-info"> Edit <i
									class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a></td>
						</tr>


					</tbody>
				</table>
			</div>
			<div class="card-footer bg-success text-white"
				th:if="${message!=null}">
				<span th:text="${message}"> </span>
			</div>
		</div>
	</div>

</body>
</html>